  /* contact area */

  .contact-area {
    height: auto;
    background-color: #f9f9ff;

    .container {
      text-align: center;

      .item {
        height: auto;
        padding: 30px 50px;
        margin: 20px;
        text-align: left;
        transition: all 0.5s ease;
        border-radius: 15px;
        .icon {
          padding: 10px 0 ;
          display: inline-block;
          a>i {
            font-size: 64px;
            color: #333;
          }
          a>i:hover {
            font-size: 64px;
            color: white;
          }
        }
        .service {
          font-size: 32px;
          font-weight: bold;
          padding: 10px 0;
        }
        .content * {
          font-size: 16px;
          font-family: "Noto Sans KR", sans-serif;
          letter-spacing: 1.5px;
          padding: 10px 0;
        }
      }

      .item:hover {
        transform: scale(1.015);
        box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.2);
        background-image: linear-gradient(to left,
            rgb(247, 205, 68),
            rgb(247, 134, 68));
      }
    }
  }






