.section-container {
    max-width: 1000px;
    margin: 0 auto;
  }

section {
    padding: 100px 0;
  }
  
  .title {
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    letter-spacing: 3px;
    padding-bottom: 80px;
  }
  
  @media (min-width: 992px) {
    .title {
      font-size: 60px;
    }
  }
  
  .title::after {
    content: "";
    display: block;
    width: 100px;
    height: 12px;
    margin: 0 auto;
    background-image: linear-gradient(to left,
        rgb(247, 205, 68),
        rgb(247, 134, 68));
  }
 