@charset "UTF-8";
body {
  min-width: 320px;
  line-height: normal;
  font-size: 14px;
  color: #000;
  scroll-behavior: smooth;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  word-break: break-all;
}

body,
input,
textarea,
select,
table,
button,
code {
  font-family: "Noto Sans KR", sans-serif;
  font-size: 16px;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.hidden,
[hidden] {
  display: none !important;
}

ul,
ol,
li {
  list-style: none;
}

img {
  width: 100%;
  height: 100%;
}

a {
  color: inherit;
  cursor: pointer;
  text-decoration: none;
}

a:hover, a:focus {
  text-decoration: none;
}

button {
  border: 0;
  background-color: transparent;
  cursor: pointer;
}

button:disabled {
  cursor: not-allowed;
}

select,
input,
textarea,
button {
  -webkit-appearance: none;
}

input[type="number"] {
  -moz-appearance: textfield;
}

input:disabled {
  background-color: rgba(255, 255, 255, 0);
  cursor: not-allowed;
}

select {
  border: 0;
  background-color: transparent;
  cursor: pointer;
}

select::-ms-expand {
  display: none;
}

input,
textarea {
  font-size: inherit;
  border: 0;
}

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  /* Chrome, Safari, Firefox */
  color: #c9c9c9;
  opacity: 1;
}

input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
  /* Chrome, Safari, Firefox */
  color: #c9c9c9;
  opacity: 1;
}

input::-ms-input-placeholder,
textarea::-ms-input-placeholder {
  /* Chrome, Safari, Firefox */
  color: #c9c9c9;
  opacity: 1;
}

input::placeholder,
textarea::placeholder {
  /* Chrome, Safari, Firefox */
  color: #c9c9c9;
  opacity: 1;
}

input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
  /* IE, Edge */
  color: #c9c9c9;
  opacity: 1;
}

input[readonly]::-webkit-input-placeholder, input:disabled::-webkit-input-placeholder,
textarea[readonly]::-webkit-input-placeholder,
textarea:disabled::-webkit-input-placeholder {
  /* Chrome, Safari, Firefox */
  color: rgba(0, 0, 0, 0.2);
  opacity: 1;
}

input[readonly]:-ms-input-placeholder, input:disabled:-ms-input-placeholder,
textarea[readonly]:-ms-input-placeholder,
textarea:disabled:-ms-input-placeholder {
  /* Chrome, Safari, Firefox */
  color: rgba(0, 0, 0, 0.2);
  opacity: 1;
}

input[readonly]::-ms-input-placeholder, input:disabled::-ms-input-placeholder,
textarea[readonly]::-ms-input-placeholder,
textarea:disabled::-ms-input-placeholder {
  /* Chrome, Safari, Firefox */
  color: rgba(0, 0, 0, 0.2);
  opacity: 1;
}

input[readonly]::placeholder, input:disabled::placeholder,
textarea[readonly]::placeholder,
textarea:disabled::placeholder {
  /* Chrome, Safari, Firefox */
  color: rgba(0, 0, 0, 0.2);
  opacity: 1;
}

input[readonly]:-ms-input-placeholder, input:disabled:-ms-input-placeholder,
textarea[readonly]:-ms-input-placeholder,
textarea:disabled:-ms-input-placeholder {
  /* IE, Edge */
  color: rgba(0, 0, 0, 0.2);
  opacity: 1;
}

input::-ms-clear, input::-ms-reveal,
textarea::-ms-clear,
textarea::-ms-reveal {
  /* IE, Edge */
  display: none;
}

input::-webkit-inner-spin-button, input::-webkit-outer-spin-button,
textarea::-webkit-inner-spin-button,
textarea::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

/* WELCOME AREA */
.welcome-area {
  padding-top: 8px;
  padding-bottom: 100px;
  height: auto;
}

.welcome-area > .container {
  position: relative;
  height: 100%;
}

.welcome-area > .container > .image-slide {
  height: 100%;
}

.welcome-area > .container > .image-prev,
.welcome-area > .container > .image-next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  -webkit-transition: 0.6s ease;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.welcome-area > .container > .image-next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.welcome-area > .container > .image-prev:hover,
.welcome-area > .container > .image-next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.welcome-area > .container > .dots {
  position: absolute;
  width: 100%;
  bottom: 10px;
  text-align: center;
}

.welcome-area > .container > .dots > .dot {
  cursor: pointer;
  height: 4px;
  width: 30px;
  margin: 0 2px;
  background-color: #717171;
  display: inline-block;
  -webkit-transition: background-color 0.6s ease;
  transition: background-color 0.6s ease;
}

.welcome-area > .container > .dots > .dot.active,
.welcome-area > .container > .dots > .dot:hover {
  background-color: #ddd;
}

.welcome-area > .container > .fade {
  animation-name: fade;
  animation-duration: 1.5s;
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

@-webkit-keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

/* about area */
.about-area {
  height: auto;
  position: relative;
}

.about-area > .picture {
  display: block;
  text-align: center;
  padding: 20px;
}

@media (min-width: 992px) {
  .about-area > .picture {
    width: calc(40% - 40px);
    display: inline-block;
  }
}

.about-area > .picture > img {
  max-width: 300px;
  max-height: auto;
  border-radius: 15px;
}

.about-area > .picture > .name {
  font-size: 25px;
  letter-spacing: 2px;
  text-align: center;
  padding: 15px 0;
}

.about-area > .picture > .description {
  font-size: 14px;
  font-family: "Noto sans KR", sans-serif;
}

.about-area > .text {
  display: block;
  padding: 30px;
}

@media (min-width: 992px) {
  .about-area > .text {
    width: calc(60% - 100px);
    display: inline-block;
    padding: 0 50px;
  }
}

.about-area > .text * {
  font-size: 16px;
  color: #333;
}

.about-area > .text > .intro {
  padding: 20px 0;
  font-family: "Noto sans KR", sans-serif;
  letter-spacing: 1.5px;
}

.about-area > .text > ul {
  padding: 20px 0;
}

.about-area > .text > ul > li {
  height: 40px;
}

.about-area > .text > ul > li > .info {
  color: #777;
  /* background-color: skyblue; */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.about-area > .text > ul > li > .info > .icon {
  width: 40px;
  margin: 0  4px 0 0;
  text-align: left;
}

.about-area > .text > ul > li > .info > .icon > i {
  color: #fcb32d;
  font-size: 24px;
  /* background-color: gray; */
  padding: 3px;
}

.about-area > .text > ul > li > .info > .text > span {
  color: #777;
}

.about-area > .text > .sns {
  text-align: right;
}

@media (min-width: 992px) {
  .about-area > .text > .sns {
    text-align: left;
  }
}

.about-area > .text > .sns > a {
  width: 50px;
  line-height: 50px;
  background-color: #eee;
  border-radius: 5px;
  font-size: 16px;
  display: inline-block;
  text-align: center;
  cursor: pointer;
}

.about-area > .text > .sns > a:hover {
  background-image: -webkit-gradient(linear, right top, left top, from(#f7cd44), to(#f78644));
  background-image: linear-gradient(to left, #f7cd44, #f78644);
}

/* contact area */
.contact-area {
  height: auto;
  background-color: #f9f9ff;
}

.contact-area .container {
  text-align: center;
}

.contact-area .container .item {
  height: auto;
  padding: 30px 50px;
  margin: 20px;
  text-align: left;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  border-radius: 15px;
}

.contact-area .container .item .icon {
  padding: 10px 0;
  display: inline-block;
}

.contact-area .container .item .icon a > i {
  font-size: 64px;
  color: #333;
}

.contact-area .container .item .icon a > i:hover {
  font-size: 64px;
  color: white;
}

.contact-area .container .item .service {
  font-size: 32px;
  font-weight: bold;
  padding: 10px 0;
}

.contact-area .container .item .content * {
  font-size: 16px;
  font-family: "Noto Sans KR", sans-serif;
  letter-spacing: 1.5px;
  padding: 10px 0;
}

.contact-area .container .item:hover {
  -webkit-transform: scale(1.015);
          transform: scale(1.015);
  -webkit-box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.2);
  background-image: -webkit-gradient(linear, right top, left top, from(#f7cd44), to(#f78644));
  background-image: linear-gradient(to left, #f7cd44, #f78644);
}

/* 
font-family: 'Noto Sans KR', sans-serif;
font-family: 'Roboto Mono', monospace;
*/
/* header */
.header-area {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 99;
  background-color: white;
  -webkit-box-shadow: 0 1px 10px rgba(0, 0, 0, 0.3);
          box-shadow: 0 1px 10px rgba(0, 0, 0, 0.3);
}

.navbar-fade {
  animation-name: navbar-fade;
  animation-duration: 0.5s;
  -webkit-animation-name: navbar-fade;
  -webkit-animation-duration: 0.5s;
}

@keyframes navbar-fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

@-webkit-keyframes navbar-fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

.header-area.navbar-fixed {
  position: fixed;
}

.header-area > .navbar {
  width: calc(100%-120px);
  margin: 0 60px;
  overflow: hidden;
}

@media (min-width: 992px) {
  .header-area > .navbar {
    max-width: 900px;
    margin: 0 auto;
  }
}

@media (min-width: 1200px) {
  .header-area > .navbar {
    max-width: 1000px;
  }
}

.header-area > .navbar > .navbar-brand {
  display: inline-block;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  font-size: 32px;
  cursor: pointer;
  font-weight: 700;
  color: #333;
}

.header-area > .navbar > .navbar-toggler * {
  font-size: 32px;
}

.header-area > .navbar > .navbar-toggler {
  float: right;
  height: 70px;
  line-height: 70px;
  font-size: 32px;
  cursor: pointer;
}

/* 햄버거 버튼 숨기기 */
@media (min-width: 992px) {
  .header-area > .navbar > .navbar-toggler {
    display: none;
  }
}

.header-area > .navbar > .navbar-menu {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.5);
  top: 70px;
  left: 0;
  width: 100%;
  height: 0px;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
  overflow: hidden;
}

.header-area > .navbar > .navbar-menu.show {
  height: 200px;
}

.header-area > .navbar > .navbar-menu > .nav-item {
  float: none;
  display: block;
  height: 50px;
  line-height: 50px;
}

.header-area > .navbar > .navbar-menu > .nav-item:hover * {
  background-color: rgba(0, 0, 0, 0.4);
}

.header-area > .navbar > .navbar-menu > .nav-item > .nav-link {
  display: block;
  padding-left: 50px;
  color: white;
  cursor: pointer;
}

@media (min-width: 992px) {
  .header-area > .navbar > .navbar-menu {
    position: relative;
    background-color: transparent;
    float: right;
    top: 0;
    width: auto;
    height: auto;
    -webkit-transition: none;
    transition: none;
  }
  .header-area > .navbar > .navbar-menu.show {
    height: auto;
  }
  .header-area > .navbar > .navbar-menu > .nav-item {
    display: inline-block;
    height: 70px;
    line-height: 70px;
  }
  .header-area > .navbar > .navbar-menu > .nav-item:hover * {
    background-color: transparent;
  }
  .header-area > .navbar > .navbar-menu > .nav-item > .nav-link {
    display: block;
    padding: 0 20px;
    color: black;
  }
}

/* FOOTER AREA */
.footer-area {
  height: auto;
  text-align: center;
  background-color: #333;
}

.footer-area * {
  color: white;
}

.footer-area .item {
  display: inline-block;
  padding: 10px;
  cursor: pointer;
}

.footer-area .item a {
  text-decoration: none;
  color: #333;
}

.footer-area .item a i {
  font-size: 24px;
}

.footer-area .info > p {
  font-size: 16px;
  padding: 10px 0;
}

/* PORTFOLIO AREA */
.portfolio-area {
  height: auto;
}

.portfolio-area > .filter > .list {
  text-align: center;
}

.portfolio-area > .filter > .list > .listItem {
  display: inline-block;
  font-weight: bold;
  padding: 0 20px;
  font-size: 16px;
  cursor: pointer;
}

.portfolio-area > .filter > .list > .listItem:hover,
.portfolio-area > .filter > .list > .listItem.active {
  color: orange;
}

.portfolio-area > .container {
  padding-top: 50px;
}

.portfolio-area > .container > .filterItem {
  display: none;
  width: calc(100%-40px);
  margin: 20px;
  text-align: center;
}

@media (min-width: 992px) {
  .portfolio-area > .container > .filterItem {
    width: calc(50% - 40px);
  }
}

.portfolio-area > .container > .filterItem.show {
  display: inline-block;
}

.portfolio-area > .container > .filterItem > .image {
  position: relative;
  max-height: 700px;
}

@media (min-width: 992px) {
  .portfolio-area > .container > .filterItem > .image {
    height: 300px;
  }
}

.portfolio-area > .container > .filterItem > .image > .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  background-color: orange;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  cursor: pointer;
}

.portfolio-area > .container > .filterItem > .image:hover > .overlay {
  background-image: -webkit-gradient(linear, left top, right top, from(#f7cd44), to(#f78644));
  background-image: linear-gradient(to right, #f7cd44, #f78644);
  opacity: 0.5;
}

.portfolio-area > .container > .filterItem > .image:hover > .overlay > i {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  color: white;
  font-size: 48px;
}

.portfolio-area > .container > .filterItem > .image > img {
  border-radius: 5px;
}

.portfolio-area > .container > .filterItem > .video {
  display: none;
}

.portfolio-area > .container > .filterItem > .main {
  font-size: 24px;
  font-weight: bold;
  padding: 10px 0;
}

.portfolio-area > .container > .filterItem > .sub {
  font-size: 16px;
  color: #777;
}

.portfolio-area > .container > .filterItem > .text {
  display: none;
}

#portfolioModal {
  display: none;
  position: fixed;
  z-index: 100;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.9);
  text-align: center;
  overflow: scroll;
}

#portfolioModal > .close {
  display: block;
  text-align: right;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  cursor: pointer;
  padding: 0 20px;
}

#portfolioModal > .close:hover,
#portfolioModal > .close:focus {
  color: #bbb;
}

#portfolioModal > .container {
  width: 100%;
  height: auto;
  overflow: scroll;
}

#portfolioModal > .container > img {
  width: calc(100%-40px);
  padding: 20px;
}

@media (min-width: 992px) {
  #portfolioModal > .container > img {
    max-width: 500px;
  }
}

#portfolioModal > .container > .modal-main {
  position: relative;
  font-size: 24px;
  font-weight: bold;
  color: white;
  padding: 10px 0;
}

#portfolioModal > .container > .modal-sub {
  font-size: 20px;
  color: white;
  padding: 10px 0;
}

#portfolioModal > .container > .modal-text {
  font-size: 16px;
  color: #bbb;
}

#portfolioModal > .container > .modal-text img {
  width: 80%;
}

/* PORTFOLIO AREA */
.portfolio-area {
  height: auto;
}

.portfolio-area > .filter > .list {
  text-align: center;
}

.portfolio-area > .filter > .list > .listItem {
  display: inline-block;
  font-weight: bold;
  padding: 0 20px;
  font-size: 16px;
  cursor: pointer;
}

.portfolio-area > .filter > .list > .listItem:hover,
.portfolio-area > .filter > .list > .listItem.active {
  color: orange;
}

.portfolio-area > .container {
  padding-top: 50px;
}

.portfolio-area > .container > .filterItem {
  display: none;
  width: calc(100%-40px);
  margin: 20px;
  text-align: center;
}

@media (min-width: 992px) {
  .portfolio-area > .container > .filterItem {
    width: calc(50% - 40px);
  }
}

.portfolio-area > .container > .filterItem.show {
  display: inline-block;
}

.portfolio-area > .container > .filterItem > .image {
  position: relative;
  max-height: 700px;
}

@media (min-width: 992px) {
  .portfolio-area > .container > .filterItem > .image {
    height: 300px;
  }
}

.portfolio-area > .container > .filterItem > .image > .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  background-color: orange;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  cursor: pointer;
}

.portfolio-area > .container > .filterItem > .image:hover > .overlay {
  background-image: -webkit-gradient(linear, left top, right top, from(#f7cd44), to(#f78644));
  background-image: linear-gradient(to right, #f7cd44, #f78644);
  opacity: 0.5;
}

.portfolio-area > .container > .filterItem > .image:hover > .overlay > i {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  color: white;
  font-size: 48px;
}

.portfolio-area > .container > .filterItem > .image > img {
  border-radius: 5px;
}

.portfolio-area > .container > .filterItem > .video {
  display: none;
}

.portfolio-area > .container > .filterItem > .main {
  font-size: 24px;
  font-weight: bold;
  padding: 10px 0;
}

.portfolio-area > .container > .filterItem > .sub {
  font-size: 16px;
  color: #777;
}

.portfolio-area > .container > .filterItem > .text {
  display: none;
}

#portfolioModal {
  display: none;
  position: fixed;
  z-index: 100;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.9);
  text-align: center;
  overflow: scroll;
}

#portfolioModal > .close {
  display: block;
  text-align: right;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  cursor: pointer;
  padding: 0 20px;
}

#portfolioModal > .close:hover,
#portfolioModal > .close:focus {
  color: #bbb;
}

#portfolioModal > .container {
  width: 100%;
  height: auto;
  overflow: scroll;
}

#portfolioModal > .container > img {
  width: calc(100%-40px);
  padding: 20px;
}

@media (min-width: 992px) {
  #portfolioModal > .container > img {
    max-width: 500px;
  }
}

#portfolioModal > .container > .modal-main {
  position: relative;
  font-size: 24px;
  font-weight: bold;
  color: white;
  padding: 10px 0;
}

#portfolioModal > .container > .modal-sub {
  font-size: 20px;
  color: white;
  padding: 10px 0;
}

#portfolioModal > .container > .modal-text {
  font-size: 16px;
  color: #bbb;
}

#portfolioModal > .container > .modal-text img {
  width: 80%;
}

.section-container {
  max-width: 1000px;
  margin: 0 auto;
}

section {
  padding: 100px 0;
}

.title {
  font-size: 40px;
  font-weight: bold;
  text-align: center;
  letter-spacing: 3px;
  padding-bottom: 80px;
}

@media (min-width: 992px) {
  .title {
    font-size: 60px;
  }
}

.title::after {
  content: "";
  display: block;
  width: 100px;
  height: 12px;
  margin: 0 auto;
  background-image: -webkit-gradient(linear, right top, left top, from(#f7cd44), to(#f78644));
  background-image: linear-gradient(to left, #f7cd44, #f78644);
}
/*# sourceMappingURL=styles.css.map */